{
  "root": true,
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015,
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "strict": "off",
    "no-unused-vars": [1, { "vars": "all", "args": "none" }],
    "no-self-assign": 1,
    "no-unreachable": 1,
    "no-useless-catch": 1,
    "no-debugger": 2,
    "no-console": 1,
    "no-undef": 1,
    "no-camelcase": 0,
    "no-module": 0,
    "key-spacing": 2,
    "no-mixed-spaces-and-tabs": 0,
    "no-redeclare": 1,
    "no-empty": 1,
    "no-constant-condition": 1,
    "no-cond-assign": 1,
    "no-fallthrough": 1,
    "no-useless-escape": 1,
    "no-inner-declarations": 1,
    "no-unsafe-negation": 1
  },
  "globals": {
    "_": false,
    "d3": false,
    "$": false
  }
}
